scopeName: 'source.maml'
name: 'MAML'
fileTypes: ['maml','mml']

patterns: [
  {
    name: 'comment.line.number-sign.maml'
    match: '(#)([^#\\n]*)$\\n'
  },
  {
    name: 'comment.block.number-sign.maml'
    begin: '#'
    beginCaptures:
      0:
        name: 'punctuation.definition.comment.begin.maml'
    end: '#'
    endCaptures:
      0:
        name:'punctuation.definition.comment.end.maml'
  },
  {
    name: 'string.quoted.double.maml'
    begin: '“'
    beginCaptures:
      0:
        name: 'punctuation.definition.string.begin.maml'
    end: '”'
    endCaptures:
      0:
        name:'punctuation.definition.string.end.maml'
  },  # …
  {
      # Last rule
  }
]
