scopeName: 'source.maml'
name: 'MAML'
fileTypes: ['maml','mml']

'patterns': [
  {
    'begin': '#'
    'end': '\n'
    'name': 'comment.line.number-sign.maml'
  },
  {
    'begin': '#'
    'end': '#'
    'name': 'comment.block.number-sign.maml'
  },
  # …
  {
      # Last rule
  }
]
